name: Auto Publish Node.js Package

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com/

      - name: Setup Git Identity
        run: |
          git config user.name "AURA Publish Bot"
          git config user.email "aura-bot@users.noreply.github.com"

      - name: Setup Git remote with PAT
        run: git remote set-url origin https://x-access-token:${{ secrets.GH_PAT }}@github.com/djunekz/aura.git

      - name: Bump Version
        run: |
          npm version patch --allow-same-version -m "chore: bump version to %s [skip ci]"
          git push origin main --follow-tags

      - name: Publish to GitHub Packages
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.npm_token }}
